@import '_variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hello {
  // background-color: $main-color; 
  color: rgb(160, 39, 140);
}

.container {
  display: grid;
  grid-template-areas:
  "statusTracker"
  "button"
  "headerRow"
  "applicationRow";
  grid-template-rows: 60px 60px 60px;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  height: 100vh;
}

#statusTracker {
  grid-area: statusTracker;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgb(194, 248, 200);
  color: black;
  width: 300px
}

.button {
  grid-area: button;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgb(194, 248, 200);
  color: black;
}
.headerRow {
  grid-area: headerRow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: violet;
  color: rgb(194, 248, 200);
  height: 60px;
}
.headerCol {
  display: flex;
  align-items: center;
  color: rgb(1, 4, 2)
}

// Applications
.applicationRow {
  grid-area: applicationsRow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgb(194, 248, 200);
  height: 60px;
}

//Interviews
.interviewsTable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgb(150, 132, 150);
  height: 60px;
}