@import '_variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hello {
  // background-color: $main-color; 
  color: blue;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: $main-color;
  color: rgb(27, 162, 85);
  height: 60px;
}
.headerCol {
  display: flex;
  align-items: center;
  color: orange
}
